<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ASK.fm</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Orbitron|Ultra&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
<section id="first-container">
    <div class="na">
      <nav class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand active" href="/">ASK</a>

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">about</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="users/register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="users/login">Sign In</a>
        </li>
    </ul>

  </div>
</nav>
</div>


    <div class="row">

    <div class="col-lg-6">
      <div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item">
                <h2>leave with honest.</h2>
              </div>
        <div class="carousel-item active">
          <h2>ask a any one without being visible.</h2>
        </div>
        <div class="carousel-item">
          <h2>we give you the corage.</h2>
        </div>
      </div>

      <a class="btn btn-dark sign" href="users/register">Sign UP <i class="fas fa-user-plus"></i></a>
      <a class="btn btn-outline-light sign" href="/users/login">Sign In <i class="fas fa-sign-in-alt"></i> </a>
      <!-- uncomment that in back end -->
      <!-- <form class="" action="index.html" method="post">
        <button type="button" name="button" class="btn btn-dark sign">Sign UP <i class="fas fa-user-plus"></i></button>
        <button type="button" name="button" class="btn btn-outline-light sign">Sign In <i class="fas fa-sign-in-alt"></i> </button>
      </form> -->

    </div>
    </div>
    <div class="col-lg-6">
      <div class="anim">
      <div class="mob">
          <img src="img/2.png" style="position: absolute; width: 120px;height :120px;  left:200px; transform: rotate(5deg); opacity: 0.75;">
      </div>

      <div class="mob">
            <img src="img/1.png" style="position: absolute; width: 100px;height :100px;  left:20px; transform: rotate(-25deg); top:10px; opacity: 0.75;">
      </div>

      <div class="mob">
          <img src="img/2.png" style="position: absolute; width: 140px;height :140px;  left:60px; transform: rotate(-25deg); top:10px;">
      </div>

      <div class="mob">
          <img src="img/1.png" style="position: absolute; width: 130px;height :130px;  left:0px; transform: rotate(25deg); top:150px; opacity: 0.5;">
      </div>

      <div class="mob">
          <img src="img/2.png" style="position: absolute; width: 80px;height :80px;  left:120px; transform: rotate(5deg); top:150px; opacity: 0.5;">
      </div>

      <div class="mob">
          <img src="img/2.png" style="position: absolute; width: 160px;height :160px;  left:200px; transform: rotate(15deg); top:150px;">
      </div>

      <div class="mob">
          <img src="img/2.png" style="position: absolute; width: 170px;height :170px;  left:80px; transform: rotate(-15deg); top:250px;">
      </div>

      <div class="mob firstPhone" >
          <img src="img/2.png" style="position: absolute; width: 250px;height :250px;   left:-150px; transform: rotate(15deg); top:50px; opacity: 1;">
      </div>
      </div>
  </div>
  </div>

</section>

<section id="features">

    <div class="row">

    <div class="col-lg-4 features-box">
      <i class="icon fas fa-dot-circle fa-4x"></i>
      <h3>Easy to use.</h3>
      <p>So easy to use,even you can <br> find anyone easyly.</p>
    </div>

    <div class="col-lg-4 features-box">
      <i class="icon fas fa-heart fa-4x"></i>
      <h3>Elite Clientele</h3>
      <p>we have every one <br> you looking for.</p>
    </div>

    <div class="col-lg-4 features-box">
      <i class="icon fas fa-check fa-4x"></i>
      <h3>Guaranteed to work.</h3>
      <p>Find what you wnant here <br> or get your mony back.</p>
    </div>



    </div>

</section>


  <footer id="footer">
      <i class="icons fab fa-twitter"></i>
      <i class="icons fab fa-facebook-f"></i>
      <i class="icons fab fa-instagram"></i>
      <i class="icons fas fa-envelope"></i>
      <p class="foot">© Copyright AK&MG</p>
</footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="script/index.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </body>
</html>
